@font-face {
    
    font-family: Cinzel;
    src: url("../fonts/Cinzel/Cinzel-VariableFont_wght.ttf");
}
@font-face {
    font-family: Lato;
    src: url("../fonts/Lato/Lato-Regular.ttf");
}
    
@font-face {
    font-family: Shadows;
    src: url("../fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}
@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico/Pacifico-Regular.ttf");
}

h1 {
    font-family: Shadows;
    background-color: rgb(73, 71, 71);
    color: white;
    text-shadow: rgb(198, 19, 19) 4px 6px;
    padding: 6px 6px;
}

section p:first-of-type {
    font-family: Pacifico;
    background: rgb(149, 216, 149);
}

span {
    color: rgb(231, 231, 56);
    font-weight: bold;
}

em {
    color: red;
}

article h2 {
    font-family: Shadows;
}

article p {
    font-family: Lato;
    word-spacing: 10px;
    font-size: small;
    text-shadow: rgb(205, 196, 196) -1px 1px;
    font-weight: light;
}

ol {
    font-family: Cinzel;
    text-transform: uppercase;
    font-size: smaller;
    line-height: 30px;
    color: rgb(197, 84, 84);
}

div h2 {
    font-family: Pacifico;
    font-size: 40px;
    text-shadow: rgb(176, 173, 173) -8px 5px;
    text-align: right;
    background-color: rgb(234, 234, 80);
    text-indent: 2cm;
    
}

div p {
    font-family: Cinzel;
    font-size: small;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: rgb(205, 196, 196) -1px 1px 3px;
    letter-spacing: 3px;
    word-spacing: 7px;
 padding: 15px 5px;

}

ul {
    background-color: rgb(224, 220, 220);
    line-height: 35px;
    font-size: 15px;
}